<!DOCTYPE html>
<html data-ng-app="adaptive">
	<head>
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
	</head>
	<body>





<div data-ng-controller="Setup">
	<h3>Adaptive Payment Type</h3>
	<label>Type</label><select data-ng-model="adaptive.type" >
		<option value="Parallel">Parallel</option>
		<option value="Chained">Chained</option>
	</select>
	<div data-ng-show="adaptive.type">
		<form name="yep" method="post" action="">
			<h4>Credentials</h4>
			<table class="table table-striped">
				<thead></thead>
				<tbody>
					<tr>
						<td>User</td>
						<td><input size="40" type="text" data-ng-model="adaptive.headers['X-PAYPAL-SECURITY-USERID']" /></td>
					</tr>
					<tr>
						<td>Password</td>
						<td><input type="text" data-ng-model="adaptive.headers['X-PAYPAL-SECURITY-PASSWORD']" /></td>
					</tr>
					<tr>
						<td>Signature</td>
						<td><input size="60" type="text" data-ng-model="adaptive.headers['X-PAYPAL-SECURITY-SIGNATURE']" /></td>
					</tr>
					<tr>
						<td>Application ID:</td>
						<td><input size="40" type="text" data-ng-model="adaptive.headers['X-PAYPAL-APPLICATION-ID']" /></td>
					</tr>
				</tbody>		
			</table>
			<h4>URL Builder</h4>
			<table class="table table-striped">
				<thead></thead>
				<tbody>
					<tr>
						<td>Url Params</td>
						<td>
							<select data-ng-model="adaptive.urlparams">
								<option value="Pay">Pay</option>
							</select>
						</td>
					</tr>
				</tbody>
			</table>
			<h4>Variables</h4>
			<table class="table table-striped">
				<thead></thead>
				<tbody>
					<tr>
						<td>Action</td>
						<td>
							<select data-ng-model="adaptive.variables.actionType">
								<option value="PAY">Pay</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>Fees Payer</td>
						<td>
							<select data-ng-model="adaptive.variables.feesPayer">
								<option value="EACHRECEIVER">Each Receiver</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>Currency Code</td>
						<td>
							<input type="text" data-ng-model="adaptive.variables.currencyCode" />
						</td>
					</tr>
					<tr>
						<td>Return URL</td>
						<td>
							<input size="60" type="text" data-ng-model="adaptive.variables.returnUrl" />
						</td>
					</tr>
					<tr>
						<td>Cancel URL</td>
						<td>
							<input size="60" type="text" data-ng-model="adaptive.variables.cancelUrl" />
						</td>
					</tr>
				</tbody>
			</table>
			
			
			<h4>Receivers</h4>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Email</th>
						<th>Amount</th>
						<th data-ng-show="adaptive.type == 'Chained'">Primary</th>
					</tr>
				<tbody>
					<tr data-ng-repeat="receiver in adaptive.receivers">
						<td><input type="text" data-ng-model="receiver.email" /></td>
						<td><input type="text" data-ng-model="receiver.amount" /></td>
						<td data-ng-show="adaptive.type == 'Chained'" ><input type="checkbox" data-ng-model="receiver.primary" data-ng-change="togglePrimary(receiver)" data-ng-disabled="adaptive.primaryreadonly && !receiver.primary" /></td>
						<td><button data-ng-click="removeReceiver(receiver)">Remove</button></td>
					</tr>
				</tbody>
			</table>
		
			<button data-ng-click="addReceiver()">Add Receiver</button>
			<br/>
			<br/>
			<button data-ng-click="loadCall()">Load Call</button>
			<div data-ng-show="adaptive.apicall">
				<h4>Curl Call</h4>
				<pre>curl -i {{adaptive.urlbase}}{{adaptive.urlparams}} {{adaptive.headerstring}} -d "{{adaptive.apicall}}"</pre>
			</div>
			
			<button data-ng-show="adaptive.apicall" data-ng-click="executeCall()">Execute Call</button>
			<div data-ng-show="adaptive.response">
				<h4>Variables</h4>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Parameter<th/>
							<th>Value</th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="(key,value) in adaptive.response" >
							<td>{{key}}</td>
							<td>{{value}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<a data-ng-show="adaptive.payKey" href="https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_ap-payment&paykey={{adaptive.payKey}}"><img src="https://www.paypalobjects.com/en_US/i/bnr/bnr_MSPFbanner_ec2_143x32.gif" alt="Pay With PayPal" /></a>
		</form>
	</div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>

<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>


<script type="text/javascript">
var app = angular.module('adaptive', [])
.controller('Setup',function($scope,$http){
	$scope.adaptive = {};
	$scope.adaptive.receivers = [];
	$scope.adaptive.headers = {};
	$scope.adaptive.variables = {};
	$scope.adaptive.urlbase = 'https://svcs.sandbox.paypal.com/AdaptivePayments/';

	//Set Default variables
	$scope.adaptive.variables['requestEnvelope.errorLanguage'] = 'en_US';

	

	$scope.addReceiver = function(){
		$scope.adaptive.receivers.push({email: '',amount:'',primary:''});
	}
	$scope.removeReceiver = function(receiver){
		$scope.adaptive.receivers.splice($scope.adaptive.receivers.indexOf(receiver),1);
	}
	$scope.togglePrimary = function(receiver){
		
		if(receiver.primary)
		{
			$scope.adaptive.primaryreadonly = true;
		}
		else
		{
			$scope.adaptive.primaryreadonly = false;
		}
		//console.log($scope.adaptive);
	}

	$scope.loadCall = function(){
		$scope.adaptive.apicall = "";
		$scope.adaptive.headerstring = "";
		//Add Headers
		$scope.adaptive.apicall += ""
		
		//Load Variables
		angular.forEach($scope.adaptive.variables, function(value, key){
			 $scope.adaptive.apicall += ''+key+'='+value+'&';
		});
		//Add Receivers
		angular.forEach($scope.adaptive.receivers, function(value, key){
			 $scope.adaptive.apicall += 'receiverList.receiver('+key+').email='+value.email+'&';
			 $scope.adaptive.apicall += 'receiverList.receiver('+key+').amount='+value.amount+'&';
			 if($scope.adaptive.type=="Chained")
			 {
				if(value.primary)
				{
					$scope.adaptive.apicall += '&receiverList.receiver('+key+').primary=true&';
				}
				else
				{
					$scope.adaptive.apicall += '&receiverList.receiver('+key+').primary=false&';
				}
			 }
		});

		

		$scope.adaptive.headers['X-PAYPAL-REQUEST-DATA-FORMAT'] = 'NV';
		$scope.adaptive.headers['X-PAYPAL-RESPONSE-DATA-FORMAT'] = 'NV';
		
		
		//Build header string
		angular.forEach($scope.adaptive.headers, function(value, key){
			$scope.adaptive.headerstring += ' -H "'+key+': '+value+'"';
		});
	}
	
	$scope.executeCall = function(){
		
		 
		$http({method: 'POST',url: '/PayPalAdaptivePayments/proxy.php',data: angular.toJson($scope.adaptive),headers: {'Content-Type': 'application/json'}}).success(function(data, status) {
	        $scope.adaptive.payKey = data.payKey;
	        $scope.adaptive.response = data;
	      }).
	      error(function(data, status) {
	    	  console.log(data);
	      });
	      
	     
	      //console.log(angular.toJson($scope.adaptive));
	}

	$scope.setupTesting = function(){
		//Load creds for testing
		$scope.adaptive.headers['X-PAYPAL-SECURITY-USERID'] = 'seller_api1.awesome.com';
		$scope.adaptive.headers['X-PAYPAL-SECURITY-PASSWORD'] = '1374512372';
		$scope.adaptive.headers['X-PAYPAL-SECURITY-SIGNATURE'] = 'Aj1PRxuNKRh0FhwjgrTLGnn515trAGwGZHW7KLOlOuyQom-IEXlq.w4w';
		$scope.adaptive.headers['X-PAYPAL-APPLICATION-ID'] = 'APP-80W284485P519543T';

		//Set Url Params
		$scope.adaptive.urlparams = "Pay";
		
		//Set Action
		$scope.adaptive.variables.actionType = 'PAY';
		$scope.adaptive.variables.feesPayer = 'EACHRECEIVER';
		$scope.adaptive.variables.currencyCode = 'USD';
		$scope.adaptive.variables.returnUrl = 'http://localhost/PayPalAdaptivePayments/return.html';
		$scope.adaptive.variables.cancelUrl = 'http://localhost/PayPalAdaptivePayments/cancel.html';
		//Set receivers
		$scope.adaptive.receivers.push({email: 'seller@awesome.com','amount':'100'});
		$scope.adaptive.receivers.push({email: 'seller1@awesome.com','amount':'200'});

		//console.log($scope.adaptive);
	}

	//Setup testing information
	$scope.setupTesting();
	
})
.directive('eatClick', function() {
    return function(scope, element, attrs) {
        $(element).click(function(event) {
            event.preventDefault();
        });
    }
});
</script>


	</body>
</html>